h1{
     color: brown;
     font-size: 40px;
     text-align: center;
     }
body{
    background-color: rgb(38, 158, 68);
font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
}

div{
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

}
h2{
    text-align: center;
}
.info{
    color: blueviolet;
}
#varovani{
    color: blue;
}