body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrap {
    margin: 16px;
}
.example-1{
    width: 400px;
    height: 400px;
    background-color: rgb(101, 168, 168);
    color: aliceblue;
    display: grid;
    place-items: center;
}